<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenido a mi aplicación</h1>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Precio</th>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td th:text="${producto.nombre}">Nombre del producto</td>
                <td th:text="${#numbers.formatCurrency(producto.precio)}">Precio del producto</td>
            </tr>
        </tbody>
    </table>
</body>
</html>